<!DOCTYPE html>
<html >

<head>
    <title>Angular framework</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.css">-->
    <link rel="stylesheet" href="css/angular.css">


</head>

<body ng-app="app">
    <div ng-controller="tableController">
        <form>
            <h2>Lesson 1. Homework</h2>
            <button type="button" class="btn btn-primary" ng-click="showContent = ! showContent">Show Lesson Content</button>
            <hr />

            <div class="ng-hide" ng-show="showContent">

                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="Input text to filter" ng-model="filterQuery"/>
                    </div>
                </div>
                <hr />

                <table class="table">
                    <tr>
                        <th ng-click="setSortField('firstName')">
                            <a>First Name</a>
                            <span ng-class="getSortGlyphClass('firstName')"></span>
                        </th>
                        <th ng-click="setSortField('lastName')">
                            <a>Last Name</a>
                            <span ng-class="getSortGlyphClass('lastName')"></span>
                        </th>
                        <th ng-click="setSortField('age')">
                            <a>Age</a>
                            <span ng-class="getSortGlyphClass('age')"></span>
                        </th>
                        <th ng-click="setSortField('address.city')">
                            <a>City</a>
                            <span ng-class="getSortGlyphClass('address.city')"></span>
                        </th>
                        <th>
                            <select class="form-control" ng-options="contactOption.name for contactOption in contactOptions" ng-model="currentContactOption"></select>
                        </th>
                        <th>Actions</th>
                    </tr>

                    <tr ng-repeat="person in persons | filter : searchByFilterQuery | orderBy: sortField: sortReverse">
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.age}}</td>
                        <td>{{person.address.city}}</td>
                        <td>{{ ( person.phoneNumber | filter: {'type': currentContactOption.type} )[0].number }}</td>
                        <td>
                            <button type="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</body>
<script src="js/jquery-2.1.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular/app.js"></script>
<script src="js/angular/tableController.js"></script>

</html>